* {
	margin: 0;
	padding: 0;
}

body{
	margin: 2rem;
	background-color: #ebe8e6;
	padding-bottom: 0.01rem;
}

html {
	background-color: #fff;
}

h1, h3, p{
	font-family: 'Lato', sans-serif;
}

input[type=button] {
	font-family: 'Lato', sans-serif;
}

.header {
	width: 100%;
	height: 95vh;
	top: 0;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	margin-bottom: 10%;
}

.header::after {
	content: "";
	background-image: url(../Resources/skyscraperHeader.jpg);
	background-size: cover;
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

.logo {
	position: absolute;
	top: 5%;
	left: 3%;
	width: 5rem;
	height: 5rem;
}

.logoImg {
	width: 100%;
	height: 100%;
}

.header-content {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.header-title {
	text-transform: uppercase;
	letter-spacing: 1rem;
	font-size: 3rem;
	font-weight: 400;
	display: block;
}

.header-sub-title {
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-size: 2rem;
	font-weight: 500;
	display: block;
}

.header-btn {
	text-transform: uppercase;
  	text-decoration: none;
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	color: #000;
	display: inline-block;
	margin: 1rem;
	padding: 0.75rem 2rem 0.75rem 2rem;
	border-radius: 1rem;
}

.compartment {
	background-color: #fff;
	margin: 0 15% 5% 15%;
	padding: 5%;
	border-radius: 0.5rem;
}

.compartment-title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 1rem;
	font-weight: 400;
	display: block;
}

.bio-text {
	margin: 10% 15% 0 15%;
	letter-spacing: 0.07rem;
	font-size: 1rem;
	font-weight: 200;
}

.modern-content {
	margin: 30%;
	text-align: center;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}
