* {
	margin: 0;
	padding: 0;
}

body{
	margin: 2rem;
	background-color: #ebe8e6;
	padding-bottom: 0.01rem;
}

html {
	background-color: #fff;
}

h1, h3, h4, h5, h6, p{
	font-family: 'Lato', sans-serif;
}

input[type=button] {
	font-family: 'Lato', sans-serif;
}

.header {
	width: 100%;
	height: 95vh;
	top: 0;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	margin-bottom: 10%;
}

.header::after {
	content: "";
	background-image: url(../Resources/skyscraperHeader.jpg);
	background-size: cover;
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

.logo {
	position: absolute;
	top: 5%;
	left: 3%;
	width: 5rem;
	height: 5rem;
}

.logoImg {
	width: 100%;
	height: 100%;
}

.header-content {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.header-title {
	text-transform: uppercase;
	letter-spacing: 1rem;
	font-size: 3rem;
	font-weight: 400;
	display: block;
	animation: move-title 2s;
}

.header-sub-title {
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-size: 2rem;
	font-weight: 500;
	display: block;
	animation: move-sub-title 2s;
}

@keyframes move-title {
	0%   {transform: translateX(-10%);}
	80%   {transform: translateX(2%);}
	100% {transform: translateX(0);}
}

@keyframes move-sub-title {
	0%   {transform: translateX(10%);}
	80%   {transform: translateX(-2%);}
	100% {transform: translateX(0);}
}

.header-btn {
	text-transform: uppercase;
  	text-decoration: none;
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	color: #000;
	display: inline-block;
	margin: 1rem;
	padding: 0.75rem 2rem 0.75rem 2rem;
	border-radius: 1rem;
}

.header-btn:hover {
	box-shadow: 0 0.5rem 0.5rem 0.5rem grey;
}

.compartment {
	background-color: #fff;
	margin: 0 10% 5% 10%;
	padding: 5%;
	border-radius: 0.5rem;
}

.compartment-title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 1rem;
	font-weight: 400;
	display: block;
}

.bio-text {
	margin: 10% 15% 0 15%;
	letter-spacing: 0.07rem;
	font-size: 1rem;
	font-weight: 200;
}

.project-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	height: 100vh;
}

.modern-content, .ancient-content {
	height: 100vh;
}

.projects, .visuals {
	display: flex;
	flex-direction: column;
}

.projects {
	justify-content: space-around;
}

.visuals {
	justify-content: center;
	position: relative;
}

.flip-card {
	position: relative;
	width: 25rem;
	height: 25rem;
	background-color: transparent;
	perspective: 1000px; 
	margin-bottom: 5%;
}
  
.flip-card-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.project-card-front, .project-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 1%;
	border-radius: 0.5rem;
	box-shadow: 0 0.25rem 0.25rem 0.25rem grey;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}

.project-card-front {
	transform: rotateX(0deg);
}

.project-card-back {
	transform: rotateY(180deg);
	font-size: 2.5vh!important;
}

.project-card-front:hover, .project-card-back:hover {
	box-shadow: 0 0.5rem 0.5rem 0.5rem grey;
	cursor: pointer;
}

.project-card-img {
	width: 100%;
	height: 100%;
}

.modern-visual-card, .ancient-visual-card {
	width: 10rem;
	height: 10rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.25rem 0.25rem 0.25rem grey;
	z-index: 1;
}

.modern-visual-card {
	transform: translateX(10%);
}

.ancient-visual-card {
	transform: translateX(-10%);
}

.modern-visual-card-2, .modern-visual-card-3 {
	position: absolute;
	left: 0; 
	transform: translateX(-30%);
} 

.modern-visual-card-2 {
	top: 25%;
	z-index: 0;
}

.modern-visual-card-3 {
	top: 55%;
	z-index: 2;
}

.ancient-visual-card-2, .ancient-visual-card-3 {
	position: absolute;
	left: 0; 
	transform: translateX(30%);
} 

.ancient-visual-card-2 {
	top: 25%;
	z-index: 0;
}

.ancient-visual-card-3 {
	top: 55%;
	z-index: 2;
}

.visual-card-img {
	width: 100%;
	height: 100%;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}
